html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* TODO: Antd fix for Menu  (report too restrictive "span > a") */
.ant-menu-dark .ant-menu-item > span a {
  color: rgba(255, 255, 255, 0.65);
}

.ant-menu-dark .ant-menu-item-active > span a,
.ant-menu-dark .ant-menu-item > span a:hover {
  color: #fff;
}